/*doc
---
title: Unstyled
name: unstyled
category: List CSS
---

Unstyled List: `.unstyled`

```html_example
<ul class="unstyled">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
```
Testing

*/ 
ul.unstyled{
  list-style: none;
  padding: 0;
  margin: 0;
}