<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
      <nav class="navbar">
        <a href="index.html" class="brand-logo">Styleguide</a>
        <ul class="unstyled">
        <% @categories.each do |category, file_name| %><% if file_name != 'index.html' %><li><a href="<%= file_name %>"<% if title == category %>class="active"<% end %>><%= category %></a></li><% end %><% end %>
        </ul>
      </nav>
      <% if @blocks.count > 1 %>
        <section class="sidebar">
          <nav>
            <ul class="unstyled">
              <% @blocks.each do |b| %>
              <li><a href="#<%= b[:name] %>" class="local-link" ><%= b[:title] %></a></li>
              <% end %>
            </ul>
          </nav>
        </section>
        <section class="content">
      <% else %>
        <section class="content-full">
      <% end %>
